*~
*.swp
apbs
bin
doc/announce
doc/mechanic
doc/word
fftw
lib
listing
mscale
osrw
openmm/*.a
openmm/*.mod
openmm/*.o
openmm/*.x
openmm/*.make
openmm/*-*
source/*.a
source/*.mod
source/*.o
source/*.x
source/*.make
source/*-*
usage
